aenum
anyio
appdirs
asgiref
asttokens
attrs
backcall
beautifulsoup4
bidict
bleach
Brotli
bs4
certifi
cffi
chardet
charset-normalizer
click
colorama
coloredlogs
comm
configparser
contourpy
cryptography
cycler
debugpy
decorator
defusedxml
distlib
dj-database-url
dj-rest-auth
Django
django-allauth
django-cors-headers
django-daraja
django-environ
django-filter
django-rest-auth
django-rest-passwordreset
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
docopt
docutils
et-xmlfile
executing
fastjsonschema
fbchat
filelock
fonttools
geographiclib
geopy
google
google-search
google_search_results
googlesearch-python
greenlet
gunicorn
h11
httpcore
httpx
humanfriendly
idna
importlib_metadata
ipykernel
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
kiwisolver
leakcheck
linkedin_api
lxml
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
numpy
oauthlib
opencv-python
openpyxl
outcome
packaging
paho-mqtt
pandas
pandocfilters
parso
pickleshare
pillow
pipreqs
platformdirs
playwright
prompt_toolkit
psutil
psycopg2-binary
pure_eval
pycparser
pyee
Pygments
PyJWT
pyparsing
pyppeteer
pyreadline3
PySocks
python-dateutil
python-decouple
python-dotenv
python-engineio
python-socketio
python3-openid
referencing
regex
requests
requests-file
requests-oauthlib
requests-random-user-agent
rpds-py
seaborn
selenium
simple-websocket
six
sniffio
social-auth-app-django
social-auth-core
sortedcontainers
soupsieve
sqlparse
stack-data
statistics
tabulate
tinycss2
tld
tldextract
tornado
tqdm
traitlets
treelib
trio
trio-websocket
tweepy
typing_extensions
tzdata
update_check
uvicorn
virtualenv
wcwidth
webencodings
websocket-client
websockets
whitenoise
wsproto
yarg
zipp
